<div class="row">
  <div class="col-md-6">
    <a routerLink = '/' class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/edit/'+id]" class="btn btn-secondary">Edit</a>
      <button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
    </div>

  </div>
</div>
<hr>
<!-- Display all the clients with information -->
<div *ngIf="univ" class="card">
  <h3 class="card-header">{{univ.name}}</h3>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>University ID: {{id}}</h4>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Full Name: {{univ.fullname}}</li>
      <li class="list-group-item">Adress: {{univ.adress}}</li>
      <li class="list-group-item">Latitude: {{univ.lat}}</li>
      <li class="list-group-item">Longitude: {{univ.long}}</li>
    </ul>
  </div>

</div>
