<div class="row">
  <div class="col-md-6">
    <a routerLink = '/' class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/edit/'+id]" class="btn btn-secondary">Edit</a>
      <button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
    </div>

  </div>
</div>
<hr>
<!-- Display all the clients with information -->
<div *ngIf="univ" class="card">
  <h3 class="card-header">{{univ.name}}</h3>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>University ID: {{id}}</h4>
      </div>
    </div>
    <hr>
    <div *ngFor="let adress of adress">
      <ul class="list-group">
        <li class="list-group-item">Full Name: {{univ.fullname}}</li>
        <li class="list-group-item">Adress: {{adress.adress}}</li>
        <li class="list-group-item">Latitude: {{adress.lat}}</li>
        <li class="list-group-item">Longitude: {{adress.long}}</li>
        <li class="list-group-item">
          Acceuil:
          <div *ngIf="univ.acceuil == 0; then none else other"></div>
          <ng-template #none>
            <span>Non</span>
          </ng-template>
          <ng-template #other>
            <span>Oui</span>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="card">
  <h3 class="card-header">Filieres</h3>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>BTS1</h4>
      </div>
    </div>
    <hr>
    <div>
      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Full Name</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filiere of filieres">
              <ng-template [ngIf]="filiere.cycle == 'BTS1'">
                <td>{{filiere.$key}}</td>
                <td>{{filiere.name}}</td>
                <td>{{filiere.fullname}}</td>
              </ng-template>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>BTS2</h4>
      </div>
    </div>
    <hr>
    <div>
      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Full Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'BTS2'">
            <td>{{filiere.$key}}</td>
            <td>{{filiere.name}}</td>
            <td>{{filiere.fullname}}</td>
          </ng-template>
        </tr>
        </tbody>

      </table>
    </div>

  </div>

  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>Licence 3</h4>
      </div>
    </div>
    <hr>
    <div>
      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Full Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'Licence 3'">
            <td>{{filiere.$key}}</td>
            <td>{{filiere.name}}</td>
            <td>{{filiere.fullname}}</td>
          </ng-template>
        </tr>
        </tbody>

      </table>
    </div>

  </div>

  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>Master 1</h4>
      </div>
    </div>
    <hr>
    <div>
      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Full Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'Master 1'">
            <td>{{filiere.$key}}</td>
            <td>{{filiere.name}}</td>
            <td>{{filiere.fullname}}</td>
          </ng-template>
        </tr>
        </tbody>

      </table>
    </div>

  </div>


  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>Master 2</h4>
      </div>
    </div>
    <hr>
    <div>
      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Full Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let filiere of filieres">
          <ng-template [ngIf]="filiere.cycle == 'Master 2'">
            <td>{{filiere.$key}}</td>
            <td>{{filiere.name}}</td>
            <td>{{filiere.fullname}}</td>
          </ng-template>
        </tr>
        </tbody>

      </table>
    </div>

  </div>


</div>
